<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<services>
		<service name="WcfServiceEventOrganize.Service1">
			<endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceEventOrganize/Service1"
					   binding="mexHttpBinding"
					  contract="WcfServiceEventOrganize.IService1"/>
		</service>

		<service name="WcfServiceEventOrganize.Services.AttendantService">
			<endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceEventOrganize/Services/AttendantService"
					   binding="mexHttpBinding"
					  contract="WcfServiceEventOrganize.Contracts.IAttendantService"/>
		</service>
		
		<service name="WcfServiceEventOrganize.Service1">
			<endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceEventOrganize/Services/EventService"
					   binding="mexHttpBinding"
					  contract="WcfServiceEventOrganize.Contracts.IEventService"/>
		</service>
		
		<service name="WcfServiceEventOrganize.Service1">
			<endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceEventOrganize/Services/UserProfileService"
					   binding="mexHttpBinding"
					  contract="WcfServiceEventOrganize.Contracts.IUserProfileService"/>
		</service>
	</services>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>